[submodule "Tester"]
	path = Tester
	url = git@github.com:TheBizzle/Tester
[submodule "DataStructure"]
	path = DataStructure
	url = git@github.com:TheBizzle/DataStructure
[submodule "PathFindingCore"]
	path = PathFindingCore
	url = git@github.com:TheBizzle/PathFindingCore
